* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #e8f2ff;
    color: #333;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #0f1f3d;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

header .logo {
    font-size: 22px;
    font-weight: bold;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav a:hover {
    color: #66b3ff;
}

.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
}


.hero {
    display: flex;
    justify-content: space-between;
    padding: 60px 10%;
    align-items: center;
    background: #ffffff;
    border-radius: 6px;
    margin-bottom: 30px;
}

.hero-content h1 {
    font-size: 40px;
    color: #0f1f3d;
}

.hero-content p {
    margin: 15px 0;
}

.hero-img {
    width: 40%;
    max-width: 300px;
    border-radius: 10px;
}

.section {
    background: #ffffff;
    border-radius: 6px;
    padding: 60px 10%;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    color: #0f1f3d;
    margin-bottom: 20px;
}


.services-container,
.portfolio-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-box,
.card {
    width: 30%;
    background: #f7fbff;
    border: 1px solid #d9e9ff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    transition: 0.25s;
}

.service-box:hover,
.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    border-radius: 10px;
}


.contact-form {
    width: 60%;
    margin: auto;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 6px;
    border: 1px solid #b9d6ff;
}

.contact-info {
    margin-top: 20px;
}


.btn {
    display: inline-block;
    background: #1e90ff;
    padding: 10px 18px;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 10px;
    transition: 0.2s;
}

.btn:hover {
    background: #1870cc;
}

/* Footer */
footer {
    background: #0f1f3d;
    color: white;
    text-align: center;
    padding: 15px;
}


@media (max-width: 768px) {

    nav {
        display: none;
        flex-direction: column;
        background: #0f1f3d;
        padding: 10px;
        width: 100%;
        text-align: center;
    }

    nav a {
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-img {
        width: 80%;
        margin-top: 20px;
    }

    .service-box,
    .card {
        width: 90%;
    }

    .contact-form {
        width: 90%;
    }
}